/*MAIN STYLES*/


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* 1) Main Structure*/

.intro {
    height: 100vh;
}

@media screen and (max-height: 485px) {
    .intro {
        height: auto;
    }
}

@media screen and (max-height: 560px) and (min-width: 1440px) {
    .arrow-down {
        display: none;
    }
}


/****/

.adapt-viewport {
    height: auto;
}

@media screen and (min-width: 650px) and (min-height: 380px) {
    .adapt-viewport {
        height: 100vh;
    }
}

@media screen and (max-width: 991px) {
    .adapt-viewport {
        height: auto;
    }
}

@media screen and (max-height: 768px) {
    .adapt-viewport {
        height: auto;
    }
    .margin-top{
    margin-top:20px !important; }
}


/* fix iOS bug not displaying 100vh correctly */


/* ipad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .intro,
    .adapt-viewport {
        height: 768px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .intro {
        height: 1024px;
    }
    .adapt-viewport {
        height: auto;
    }
}


/* iPhone 4 */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .intro,
    .adapt-viewport {
        height: auto;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro,
    .adapt-viewport {
        height: auto;
    }
}


/* iphone5 */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .intro {
        height: 320px;
    }
}

.hideIE {
    display: block !important;
}


}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .intro {
        height: 568px;
    }
}

/*iPhone6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 627px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .intro {
        height: 100vh;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 627px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .intro {
        height: 100vh;
    }
}

/*..............adapt to iPhone6 end*/

/*fix iOS bug not displaying 100vh correctly end */

/******/
@media screen and (max-width: 991px) {
    .end-slide {
        margin-bottom: 2em !important;
    }
}
@media screen and (max-width: 580px) {
    .end-slide {
        margin-bottom: 100px !important;
    }
}
@media screen and (max-height: 380px) {
    .end-slide {
        margin-bottom: 100px !important;
    }
}

/*=================*/

/* 2) Typography (main)*/
* {
    font-family: 'Lato', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 20px;
}
@media screen and (max-width:1440px) and (max-height:900px) {
    p {
        font-size: 1.25em;
    }
}
@media screen and (min-width:992px) and (max-width:1260px) and (min-height:769px) {
    p {
        font-size: 1.25em;
    }
}

@media screen and (min-width:992px) and (max-width:1400px) and (max-height:785px) {
    p {
        font-size: 1.2em;
    }
}
b {
    color: #f47932;
    font-weight: 400;
}
.legend {
    font-size: 16px;
    font-weight: 300;
    max-width: 80%;
    margin-top: 20px;
    border-top: solid #333333 1px;
    padding-top: 10px;
}
@media screen and (min-width: 1440px) {
    .legend {
        max-width: 70%;
    }
}
.bold {
    font-weight: 700;
    letter-spacing: 1px;
}
.italic {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
}
.modal-body p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #7b8b8e;
}
.modal-title {
    font-weight: 900;
    text-align: center;
    color: #7b8b8e;
}
::-moz-selection {
    /* Code for Firefox */
    
    background: rgb(199, 214, 238);
    color: rgb(201, 90, 35);
}
::selection {
    background: rgb(199, 214, 238);
    color: rgb(201, 90, 35);
}
.quote {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    max-width: 550px;
}
@media screen and (max-width: 580px) {
    .quote {
        font-size: 1.6em;
    }
}

/*........Mandates*/
.mandate {
    background: rgba(2, 108, 182, .4);
    padding: 0 3px;
    /*    border-bottom: 1px dashed #ffffff;*/
    /*    text-transform: uppercase;*/
}

/*.......Headings*/
h1 {
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-bottom: .2em;
}
h2 {
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: .2em;
}
@media screen and (max-width:1200px) and (max-height:800px) {
    h1 {
        font-size: 3em;
        margin-bottom: .1em;
    }
    
    h2 {
        font-size: 1.25em;
        margin-bottom: .1em;
    }
}
@media screen and (max-height:580px) {
    h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: .8em;
    }
}
@media screen and (max-width:580px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: .8em;
    }
}

/*.......*/
.white-text {
    color: #ffffff;
}
@media screen and (min-width:992px) {
    .text-shadow {
        text-shadow: 1px 1px 35px rgba(0, 0, 0, .8);
    }
}

/*..............Icons*/
.icon {
    font-size: 1.8em;
    padding-left: 10px;
    vertical-align: middle;
    text-align: center;
}
.ion-chevron-right,
.ion-chevron-left {
    font-size: 1.2em;
}
.social-ocha .icon {
    padding-left: 0;
    padding-right: 15px;
    color: #ffffff;
    cursor: pointer;
    font-size: 2.3em;
}
.social-ocha {
    margin-top: 30px;
}
@media only screen and (max-width: 580px) {
    .social-ocha .icon {
        font-size: 1.5em;
    }
}

/*=================*/

/* 3) Links and Buttons*/
a {
    color: rgb(2, 102, 182);
}
.blue-bkg p a {
    color: #90ddfb;
}
a:hover {
    opacity: .6;
}
a img:hover {
    opacity: .6;
}
.btn {
    border: solid 4px #ffffff;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1.2em 2.6em;
    margin: 1em;
    font-weight: 400;
    color: #ffffff;
}
@media screen and (max-height: 580px) {
    .btn {
        margin: 0;
        padding: .8em 1.2em;
        font-size: 1em !important;
    }
}
.btn:hover {
    color: #333333;
    font-weight: normal;
    border: solid 4px #ffffff;
    background: #ffffff;
}
#btn:active {
    border: solid 4px #ffffff;
    background-color: #ffffff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}
button:focus,
button:active:focus,
button.active:focus {
    outline: 0 none;
}

/*...............boton colors*/
.btn-blue {
    color: #026cb6;
    border-color: #026cb6;
    margin-left: 0;
}
.btn-blue:hover {
    color: #ffffff;
    font-weight: normal;
    border: solid 4px #026cb6;
    background: #026cb6;
}
#btn-blue:active {
    border-color: #026cb6;
    background-color: #026cb6;
    color: #ffffff;
}
.btn-white {
    color: #ffffff;
    border-color: #ffffff;
    margin-left: 0;
}
.btn-white:hover {
    color: #333333;
    font-weight: normal;
    border: solid 4px #ffffff;
    background: #ffffff;
}
#btn-white:active {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #333333;
}

/*..............Glyphicons*/
.glyphicon {
    top: 2px;
}

/*..............Callouts*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}

/*..............External links*/
.external-link {
    text-align: center;
    padding: .5em;
    text-transform: uppercase;
    width: 380px;
    position: absolute;
    left: 0 !important;
    margin-left: 0 !important;
    top: 10px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*    cursor: pointer;*/
    
    z-index: 1;
    font-size: 14px;
    color: #ffffff;
}

/*
.external-link a {
    color: #ffffff;
}
*/

/*
.external-link:hover {
    opacity: .5 !important;
}
*/

/*
@media only screen and (max-width: 992px) {
    .external-link {
        display: none !important;
    }
}
*/
@media only screen and (min-width: 1440px) {
    .external-link {
        top: 100px;
    }
}

/*...............Outro links*/
.ocha-links a {
    color: #ffffff;
}
.ocha-links a i {
    font-size: 18px;
}
.ocha-links {
    margin: 15px;
}

/*=================*/

/* 4) Nav*/
body {
    position: relative;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 0;
}
.navbar-toggle {
    display: block;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    border: 0;
    z-index: 9;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
}
.nav {
    text-align: center;
}
.navmenu-brand img {
    margin: 0 auto;
    width: 80px;
    display: block;
}
.navmenu-brand img:hover {
    opacity: 0.8;
}
.nav li:hover {
    background: #f5f5f5;
}

/*.......Menu animation*/

/*..............btn*/
.menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 25px;
    z-index: 9999999;
}
.menu span {
    margin: 0 auto;
    position: relative;
    top: 0px;
    margin-left: -10px;
}
.menu span:before,
.menu span:after {
    position: absolute;
    content: '';
}
.menu span,
.menu span:before,
.menu span:after {
    width: 30px;
    height: 6px;
    background-color: #ffffff;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}

/*..............burger animation */
.burger-before span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.burger-after span {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.burger-before span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}
.burger-after span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}
.burger-before span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}
.burger-after span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

/*..............Back to top*/
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    /*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
    /* image replacement properties */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    /*background color of the button*/
    
    background: url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #333333;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/*=================*/

/* 5) Multimedia*/
.video-container-1 {
    /*    top: 14em;*/
    
    max-width: 900px !important;
}
@media screen and (max-width: 992px) {
    .video-element {
        top: auto;
    }
}
.video-modal span {
    text-transform: lowercase;
    font-size: 14px;
}
.graphic {
    background-repeat: no-repeat;
    background-position: center;
    /*---->Align vertically and horizontally ---> use Aligner if doesn't work*/
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.map {
    width: 90%;
    height: 90%;
}
.graphic-small {
    width: 50% !important;
}
hr {
    border: 1px solid #333333;
    border-top: 1px solid #333333;
    width: 100%;
}
.small {
    border: 2px solid #333333;
    border-top: 2px solid #333333;
    width: .8em;
    margin: 2em auto;
}
.whs-logo {
    width: 100% !important;
}
.whs-report {
    width: 280px;
    max-width: 280px !important;
}
@media only screen and (max-height: 768px) {
    .whs-report {
        max-width: 200px !important;
    }
}
.whs-report {
    cursor: pointer;
}
.whs-report:hover {
    opacity: .6;
}
@media only screen and (max-width: 991px) {
    .ewipa img {
        margin: 0 auto;
        display: block;
    }
}

/*.......Carousel*/
.carousel {
    max-width: 85%;
}
@media (min-width: 1440px) {
    .carousel {
        max-width: 55%;
    }
}
@media (max-width: 580px) {
    .carousel {
        max-width: 100%;
    }
}
.carousel-inner .item .gif {
    max-width: 320px;
}
@media (max-width: 450px) {
    .carousel-inner .item .gif {
        width: 230px;
    }
}
.carousel-control.left,
.carousel-control.right {
    background: none;
    filter: none;
}
.carousel-control,
.carousel-control:focus {
    color: #333333 !important;
}
.carousel-caption p {
    background: rgba(0, 0, 0, .5);
    max-width: 350px;
    margin: 5px auto;
    font-size: 20px;
    margin-bottom: 20px;
}
.carousel-indicators li {
    border: 1px solid #333333;
}
.carousel-indicators .active {
    background-color: #333333;
}
.carousel-control {
    color: #333333;
}
.carousel-control .icon {
    font-size: 50px !important;
}
.carousel-control .ion-chevron-left,
.carousel-control .ion-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -25px;
}
.carousel-control .ion-chevron-left {
    right: 0;
}
.carousel-control .ion-chevron-right {
    left: 0;
}
@media (max-width: 580px) {
    .carousel-control .icon {
        font-size: 25px;
    }
}

/*..............Charts*/
.chart-bar-1 {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.chart-line-1 {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media screen and (min-width:1900px) and (min-height:950px) {
    .big-screen-adapt {
        margin-top: 350px;
    }
}
.unfunded,
.funded {
    text-transform: uppercaseç;
    font-size: 14px;
    padding: .5em;
    font-style: italic;
    font-weight: 400;
    max-width: 300px;
}
.unfunded {
    margin-top: 15px;
    background: #bcd1e1;
}
.funded {
    background: rgba(220, 220, 220, 0.9);
}

/*..............Vanuatu map*/
.vanuatuZoom {
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.vanuatu-map {
    position: relative;
}
.zoom {
    max-width: 300px;
    margin: 10px auto;
}

/*..............Nepal SVG*/
#doc_1,
#doc_2,
#doc_3,
#doc_4 {
    cursor: pointer;
}
.infoIcon {
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 10%;
    width: 50px;
    z-index: 9;
}
.infoIcon:hover {
    opacity: .6;
}
#nepal-info {
    display: none;
    position: absolute;
    right: 25px;
    top: 25%;
    max-width: 450px;
    font-size: 1em;
    padding: 1.5em;
    font-style: italic;
    background: #f3f3f3;
    color: #ffffff;
    background-color: rgba(2, 108, 182, 0.9);
    margin: 10px;
    z-index: 8;
}
@media screen and (min-width: 1440px) {
    .infoIcon {
        top: 20%;
    }
}
@media screen and (max-width: 1440px) {
    #nepal-info {
        top: 20%;
    }
}
@media screen and (max-width: 992px) {
    #nepal-info {
        top: 15%;
    }
}
@media screen and (max-width: 580px) {
    #nepal-info {
        top: 10%;
        font-size: .8em;
        max-width: 300px;
    }
    
    .infoIcon {
        width: 35px;
        left: 15px;
    }
}
@media screen and (max-width: 400px) {
    #nepal-info {
        top: 5%;
        font-size: .8em;
    }
}
#nepal-info:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 23px 16px 0;
    border-color: rgba(2, 108, 182, 0.9) transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -16px;
    bottom: -23px;
    left: 90%;
}

/* ......................iPhone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .svg-container svg {
        height: 300px;
        margin: 0 auto;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .svg-container svg {
        height: 200px;
        margin: 0 auto;
    }
}

/*..............Play GIF*/
.gif-chad figure {
    position: relative;
    cursor: pointer;
}
.gif-chad figure:before,
.gif-chad figure:after {
    position: absolute;
}
.gif-chad figure:before {
    top: 45%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150;
    width: 300px;
    height: auto;
    border: 3px solid rgba(250, 250, 250, 0.7);
    /*    border-radius: 25px;*/
    
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    /*    font-family: 'Ionicons';*/
    
    content: "Click to locate Lake Chad basin";
    padding: .5em;
    /*    content: '\f215';*/
    
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}


.gif-chad figure.play:before {
    display: none;
}

/*..............Donors - Receipient WorldMap*/
.displayIE {
    display: none !important;
}


.donors-row {
    width: 100%;
}
#donors,
#rec,
#don-rec {
    display: none;
}
.donors,
.rec,
.don-rec {
    padding: 6px;
    border-radius: 4px;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
}
@media screen and (min-width: 992px) and (max-width:1050px) {
    .donors,
    .rec,
    .don-rec {
        padding: 3px;
        font-size: 10px;
    }
}
.donors:hover,
.rec:hover,
.don-rec:hover {
    opacity: .7;
    color: #ffffff;
}
.donors:active,
.rec:active,
.don-rec:active {
    color: #ffffff;
}
.donors {
    border: solid 4px rgb(2, 108, 182);
    color: rgb(2, 108, 182);
}
.donors:active {
    background: rgb(2, 108, 182);
    opacity: 1;
}
.donors:hover {
    background: rgb(2, 108, 182);
}
.rec {
    border: solid 4px rgb(244, 121, 50);
    color: rgb(244, 121, 50);
}
.rec:active {
    background: rgb(244, 121, 50);
    opacity: 1;
}
.rec:hover {
    background: rgb(244, 121, 50);
}
.don-rec {
    border: solid 4px #7d4627;
    color: #7d4627;
}
.don-rec:active {
    background: rgb(2, 108, 182);
    opacity: 1;
}
.don-rec:hover {
    background: #7d4627;
}
.donors-legend {
    display: none;
}
.donor-map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/* 6) Modal*/
.modal-body {
    padding: 25px;
}
.modal-dialog {
    color: #333333;
    font-size: 16px;
}
.modal-dialog {
    width: 80%;
    margin: 15px auto;
}
.modal-content {
    border-radius: 0;
}
#img-modal {
    width: 100% !important;
    max-width: 900px;
}
.modal-p {
    padding: 20px;
}
.close {
    font-size: 50px;
    font-weight: bold;
    line-height: .5;
    color: #333333;
    text-shadow: 0;
    opacity: 1;
}
@media only screen and (max-width: 1025px) {
    .close {
        font-size: 25px;
    }
}
@media only screen and (max-width: 992px) {
    .close {
        display: none;
    }
}

/*..............Popover*/
.popover {
    border: none;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, .1);
    font-style: italic;
    line-height: 1.5;
}



/*
.popover-title {
    background: #00a6e6;
    padding: 1.5em;
    font-weight: 700;
    color: #ffffff;
    border: none !important;
    border-radius: 0;
}
*/
.popover-content {
    padding: 1.5em;
    border: none;
}

/*SPECIFIC STYLES*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* 1) Intro*/
.intro {
    background: #a8b6bf;
    text-align: center;
}
.intro p {
    text-shadow: .3px .3px 10px rgba(0, 0, 0, 0.1)
}
@media only screen and (max-width: 580px) {
    .intro p {
        text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3)
    }
}
.intro-content {
    padding-top: 2.5em;
}
@media screen and (max-height: 750px) {
    .intro-content {
        padding-top: 2em;
    }
}
@media screen and (max-height: 580px) {
    .intro-content {
        padding-top: 0;
    }
}
@media screen and (max-width: 580px) {
    .intro-content {
        padding-top: 1em;
    }
}
.lettering {
    max-width: 800px;
}
.intro-content p {
    max-width: 630px;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: 300;
}
.logo {
    max-width: 150px !important;
}
@media screen and (max-height: 860px) {
    .lettering {
        max-width: 370px;
    }
    
    .logo {
        max-width: 100px !important;
    }
}
@media screen and (max-width: 580px) {
    .lettering {
        max-width: 300px;
    }
}
@media screen and (max-height: 400px) {
    .lettering {
        max-width: 250px;
    }
    
    .logo {
        max-width: 60px !important;
    }
}
.bottom-arrow {
    width: 35px;
    margin: 0 auto;
    margin-top: 20px;
}
.bottom-arrow:hover {
    opacity: 0.8;
}
.more {
    margin: 0 auto !important;
    padding: 0 !important;
    margin-top: -15px !important;
}

/* 2) Outro*/
.outro {
    background: #A5C4D4;
}

/* 3) Section*/
.orange {
    background: #f2e5d8;
}
.light-blue {
    background: rgb(225, 232, 246);
}
.dark-white {
    background: #f3f3f3;
}
.text-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.section .content-section {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 80%;
    padding: 40px;
    margin: 0 auto;
}
@media screen and (max-width: 580px) {
    .section .content-section {
        padding: 0;
        margin-top: 1em;
    }
}
@media screen and (max-height: 768px) and (max-width: 1080px) {
    .section .content-section {
        padding: .8em 1.4em;
        max-width: 100%;
    }
}
.content-section img {
    width: 50%;
}
@media only screen and (max-width: 1440px) {
    .content-section img {
        width: 70%;
    }
}
@media only screen and (max-width: 992px) {
    .content-section img {
        width: 100%;
    }
}
.aligner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.aligner-item {
    width: 100%;
    height: 100%;
    padding: 1em;
}
.disclaimer-button {
    cursor: pointer;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
}
.disclaimer-button:hover {
    opacity: .7;
}
.disclaimer {
    max-width: 600px;
}

/*----> Aligner-aligner item > use in case .graphic not working*/

/*..............Info Images*/
.info-picture i {
    z-index: 1;
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
    font-size: 2em;
}
.info-picture i:hover {
    opacity: .6;
}

/*.......Background images*/

/*..............general*/
.image-bkg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.black-bkg {
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}
.blue-bkg {
    background-color: rgba(2, 108, 182, 0.9);
    color: #ffffff;
}
@media screen and (max-width: 992px) {
    .black-bkg {
        background-color: rgba(0, 0, 0, 0);
    }
}
.image-mobile {
    padding: 2em;
}

/*..............links desktop and mobile*/
.image-intro {
    background-image: url(https://ocha.smugmug.com/photos/i-CPdxQ9j/0/O/i-CPdxQ9j.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    .image-intro {
        background-image: url(https://ocha.smugmug.com/photos/i-tsF4qBj/0/O/i-tsF4qBj.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: cover;
    }
}
.image-feb {
    background-image: url(https://ocha.smugmug.com/photos/i-gTG46Qb/0/O/i-gTG46Qb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.image-feb-boxed {
    background-image: url(https://ocha.smugmug.com/photos/i-gTG46Qb/0/O/i-gTG46Qb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    .image-feb-boxed {
        background-image: none;
        background: #333333;
    }
    
    .image-feb {
        background-image: none;
        background: rgb(2, 108, 182);
    }
}
.image-may {
    background-image: url(https://ocha.smugmug.com/photos/i-8nT6bfJ/0/O/i-8nT6bfJ.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    .image-may {
        background-image: none;
        background: rgb(2, 108, 182);
    }
}
.image-jul {
    background-image: url(https://ocha.smugmug.com/photos/i-5bzpJzq/0/O/i-5bzpJzq.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    .image-jul {
        background-image: none;
        background: rgb(2, 108, 182);
    }
}

.image-nov {
    background-image: url(https://ocha.smugmug.com/photos/i-wQ8fJvB/0/O/i-wQ8fJvB.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    .image-nov {
        background-image: none;
        background: rgb(2, 108, 182);
    }
}
.image-outro {
    background-image: url(https://ocha.smugmug.com/photos/i-SDfDvmw/0/O/i-SDfDvmw.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 991px) {
    .image-outro {
        background-image: url(https://ocha.smugmug.com/photos/i-pJmDwZv/0/O/i-pJmDwZv.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: cover;
    }
}

/*.......Months*/
.month h1 {
    margin-top: 10px;
}

/* .......Before-After img*/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.cd-image-container {
    position: relative;
    width: 90%;
    max-width: 768px;
    margin: 0em auto;
}
.cd-image-container img {
    display: block;
}
.cd-image-label {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
    font-style: italic;
    font-weight: 700;
    font-size: .9em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}
.cd-image-label.is-hidden {
    visibility: hidden;
}
.is-visible .cd-image-label {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.cd-resize-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    /* Force Hardware Acceleration in WebKit */
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-resize-img img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100% !important;
    width: auto !important;
    max-width: none;
}
.cd-resize-img .cd-image-label {
    right: auto;
    left: 0;
}
.is-visible .cd-resize-img {
    width: 50%;
    /* bounce in animation of the modified image */
    
    -webkit-animation: cd-bounce-in 0.7s;
    -moz-animation: cd-bounce-in 0.7s;
    animation: cd-bounce-in 0.7s;
}
@-webkit-keyframes cd-bounce-in {
    0% {
        width: 0;
    }
    
    60% {
        width: 55%;
    }
    
    100% {
        width: 50%;
    }
}
@-moz-keyframes cd-bounce-in {
    0% {
        width: 0;
    }
    
    60% {
        width: 55%;
    }
    
    100% {
        width: 50%;
    }
}
@keyframes cd-bounce-in {
    0% {
        width: 0;
    }
    
    60% {
        width: 55%;
    }
    
    100% {
        width: 50%;
    }
}
.cd-handle {
    position: absolute;
    height: 44px;
    width: 44px;
    /* center the element */
    
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    background: rgb(244, 121, 50) url("../img/cd-arrows.svg") no-repeat center center;
    cursor: ew-resize;
    /*    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);*/
    
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    -moz-transform: translate3d(0, 0, 0) scale(0);
    -ms-transform: translate3d(0, 0, 0) scale(0);
    -o-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
    /* change background color when element is active */
    
    background-color: #445b7c;
}
.is-visible .cd-handle {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

/*.......Extra Styles*/
.margin-bottom-extra {
    margin-bottom: 2em;
}
.extra-padding {
    padding: 2em;
}
.relative {
    position: relative;
}
.small-margin-top {
    margin-top: 20px;
}

.z-1{
    z-index: -1;
}